.fa-calendar{
    border-radius: 0px 20px 20px 0px;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%); 
}
.card{
    border-style: 1px solid black; 
    height: 100%;
    width: 90%;
    margin-top :20px;
    margin-left: 55px;
}
.form-group {
     margin-top: 10px;
}

